.header{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
    box-sizing: border-box;
    padding: 45px 0;
}
.header-section{
    background-color: green;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    margin: 30px auto;
   

}
.header-name{
    font-size: 2.5rem;
    font-weight: bolder;
}