.event-section{
    width: 90%;
    border-radius: 20px;  
    margin: 30px auto;  
    /* padding: 20px; */
    color: black;
    background-color: white;
}
.event{
    padding: 5px 0px 10px 0px;
}
.event-text{
    padding: 20px;
}
.event-checks{
    padding: 5px 0px;
}
#name{
    width: 90%;
}