.footer-head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button{
    border: 1px solid rgb(21, 163, 21);
    background-color: rgb(21, 163, 21);
    border-radius: 5px;
}
.Submit{
    padding: 10px 20px;
    color: white;   
}
.footer{
    width: 90%;
    margin: 50px auto;
}
.clear{
    color: rgb(21, 163, 21);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.footer-body{
    color: rgb(101, 100, 100);
    margin: 25px auto;
    font-size: 0.9rem;
}
.footer-info{
    text-align: center;
}
.footer-end{
    font-size: 1.5rem;
    
}