.empty{
    background-color: green;
    height: 30px;
}
.info-section{
    /* width: 90%;
    border-radius: 50px;  
    margin: 30px auto;    */
    /* background-color: green; */
    /* text-align: center; */
    width: 90%;
    /* border-radius: 20px; */
    margin: 20px auto;
   
}
.thumbs{
    color: yellow;
     
}
.info-title{
    font-size:  2rem;
    color: black;
    font-weight: bold;
}
.info-text{
    /* text-align: center; */
    padding: 50px;
    color: black;
    background-color: white;
}
.info{
    padding: 10px;
    font-size: 1.2rem;
}
.email{
    font-weight: bold;
}
.text{
    color : blue;
}
.info-footer{
    margin: 20px 0;
}
.icons{
    font-size: 1.5rem;
    
}