.App-body{
  height: auto; 
  max-width: 100%;
  min-width: 90%;
  max-height: 100%;
  /* box-sizing: border-box; */
  /* margin: 15px; */
  /* top: 0; */
  background-color: rgb(217, 241, 217);
  padding: 10px;
}
input:focus{
  outline: none;
}
.tick{
  color: red;
}